{% extends 'base.html' %}
{% load static %}

{% block title %}Log in | Team Manager{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/login.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="container">
    <div id="header">
        <div id="branding">
            <h2 id="sitename">TechTigers Team Manager</h2>
        </div>
    </div>
    <div id="content">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <label class="required" for="id_username">Username:</label>
                <input id="id_username" name="username" autofocus="" maxlength="254" required="" type="text">
            </div>
            <div class="form-row">
                <label class="required" for="id_password">Password:</label>
                <input id="id_password" name="password" required="" type="password">
            </div>
            <div class="submit-row">
                <input value="Log in" type="submit">
            </div>
        </form>
    </div>
    <div id="footer"></div>
</div>
{% endblock %}
