{% extends './base.html' %}
{% load static %}

{% block title %}Sign up | {{ team_name }} Team Manager{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/check_email.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div id="content">
        <img src="{{ logo_url }}" height="300">
        <p>Congrats! You're registered. Now, just check your email address to complete the registration.</p>
    </div>
{% endblock %}