{% extends './base.html' %}
{% load static %}

{% block title %}Log in | Team Manager{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/login.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
{% endblock %}

{% block content %}
<div id="container">
    <div id="header">
        <div id="branding">
            <h2 id="sitename">TechTigers Team Manager</h2>
        </div>
    </div>
    <div id="content">
        {% if form.errors %}
        <div id="error-msgs">
            <p>Incorrect username or password.</p>
            <a href="" onclick="document.getElementById('error-msgs').style.display = 'none';">
                <i class="fas fa-times"></i>
            </a>
        </div>
        {% endif %}

        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="form-row">
                <label class="required" for="id_username">Username:</label>
                <input id="id_username" name="username" autofocus="" maxlength="254" required="" type="text">
            </div>
            <div class="form-row">
                <label class="required" for="id_password">Password:</label>
                <input id="id_password" name="password" required="" type="password">
            </div>
            <div class="submit-row">
                <input value="Log in" type="submit">
            </div>
        </form>
    </div>
    <div id="footer"></div>
</div>
<div id="signup-block">
    <p>
        New here?
        <a href="{% url 'accounts:signup' %}">Create an account</a>.
    </p>
</div>
{% endblock %}
