{% extends './base.html' %}
{% load static %}

{% block title %}Sign up | TechTigers Team Manager{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/signup.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div id="container">
        <h1 id="header">Sign up for Team Manager</h1>

        <div id="backto-login">
            <p>
                Already a member?
                <a href="{% url 'accounts:login' %}">Log in</a>.
            </p>
        </div>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-row">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                <p class="errormsg">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="submit-row">
                <input value="Sign up" type="submit">
            </div>
        </form>
    </div>
{% endblock %}