
main {
    text-align: center;
}

#detail-div {
    position: relative;
    display: inline-block;
    margin: 10% auto;
    padding: 16px 48px;
    border: 2px solid #ccc;
    border-radius: 12px;
    text-align: left;
    max-width: 600px;
}

#edit-button {
    position: absolute;
    top: 10px;
    right: 20px;
}

#item-title {
    font-size: 24px;
}
#detail-div ul {
    list-style-position: inside;
    padding-left: 20px;
}
#detail-div li{
    font-size: 20px;
}

#link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#approval-states-container {
    display: block;
}

#approval-states-table {
    margin: auto;
    border: 2px solid #ccc;
    border-spacing: 0;
    border-radius: 10px;
}
#approval-states-table tr {
    background-color: white;
}
#approval-states-table td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#approval-states-table td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#approval-states-table td {
    padding: 0;
    text-align: center;
    border: 1px solid #ddd;
    overflow: hidden;
}

.approval-button {
    padding: 14px;
    border: none;
    background-color: inherit;
    font-size: 24px;
    color: white;
}
.approval-button i {
    font-size: 24px;
    height: 24px;
    width: 24px;
}


#td-denied.current-state {
    background-color: #ff0000;
}
#td-denied.current-state i, #td-denied.sel:hover i {
    color: white;
}
#td-denied.sel:hover {
    background-color: #ff6666;
}


#td-undecided.current-state {
    background-color: #ffbb00;
}
#td-undecided.current-state i, #td-undecided.sel:hover i {
    color: white;
}
#td-undecided.sel:hover {
    background-color: #ffcf4d;
}

#td-approved.current-state {
    background-color: #008000;
}
#td-approved.current-state i, #td-approved.sel:hover i {
    color: white;
}
#td-approved.sel:hover {
    background-color: #009900;
}