
main {
    text-align: center;
}

#detail-div {
    display: inline-block;
    margin: 10% auto;
    padding: 16px 48px;
    border: 2px solid #ccc;
    border-radius: 16px;
    text-align: left;
}
#item-title {
    font-size: 24px;
}
#detail-div li{
    font-size: 20px;
}


#approval-states-container {
    display: block;
}

#approval-states-table {
    margin: auto;
}
