
main {
    text-align: center;
}

#detail-div {
    display: inline-block;
    margin: 10% auto;
    padding: 16px 48px;
    border: 2px solid #ccc;
    border-radius: 16px;
    text-align: left;
}
#item-title {
    font-size: 24px;
}
#detail-div li{
    font-size: 20px;
}


#approval-states-container {
    display: block;
}

#approval-states-table {
    margin: auto;
    font-size: 24px;
}
#approval-states-table tr {
    background-color: white;
}

#approval-states-table td {
    padding: 14px;
    width: 25px;
    text-align: center;
    color: white;
}

.selected-unappr {
    background-color: red;
}
.selected-unappr i {
    color: white;
}
.selected-undec {
    background-color: #fb0;
}
.selected-undec i {
    color:white;
}
.selected-appr {
    background-color: green;
}
.selected-appr i {
    color: white;
}
