

#content {
    margin: 0 15%;
}

#reqlist {
    margin: 8px auto;
}


tbody tr {
    cursor: pointer;
}

.date, .qty, .tcost, .approved {
    text-align: center;
}


.link, .item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link {
    max-width: 300px;
}
.item {
    width: 250px;
    max-width: 350px;
}