
#navbar {
    background-color: #24292e;
    padding-top: 12px;
    padding-bottom: 12px;
}
.centered-div {
    margin: auto;
    width: 70%;
    overflow: auto;
}

.navbar-link {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    padding-left: 8px !important;
    padding-right: 8px !important;
    margin: 11px 0;
    display: inline-block;
}
.navbar-link:hover,
.navbar-link:focus {
    color: white;
    text-decoration: none;
}

#navbar-user {
    color: white;
}
.right-aligned-nav {
    float: right;
    padding-left: 20px !important;
}
