
body {
    margin: 0;
    font-family: "Trebuchet MS", Roboto, Helvetica, sans-serif;
    font-size: 16px;
}

.fa-check {
    color: green;
}
.fa-times {
    color: red;
}
.fa-question {
    color: #fb0;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
