
body {
    margin: 0;
    font-family: "Trebuchet MS", Roboto, Helvetica, sans-serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}


.fa-check {
    color: green;
}
.fa-times {
    color: red;
}
.fa-question {
    color: #fb0;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
