#content {
    width: 70%;
    min-width: 200px;
    margin: 0 15%;
}

#title h1 {
    display: inline-block;
}
#title select {
    display: inline-block;
}


#chart-div {
    margin: auto;
    height: 350px;
    width: 70%;
    min-width: 350px;
}

.summary {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 25px;
    width: calc(50% - 54px);
    margin: 20px auto;
}
#team-summary {
    float: left;
}
#your-summary {
    float: right;
}