{% extends './base.html' %}
{% load staticfiles %}


{% block title %}Purchase Request for {{ pur_req.item }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'purchaseRequests/css/detail.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'purchaseRequests/js/detail.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="detail-div">

        {% if pur_req.author == user or user.is_superuser %}
        <a id="edit-button" href="{% url 'purchaseRequests:edit' pur_req.id %}">Edit</a>
        {% endif %}

        <h1 id="item-title">{{ pur_req.item }}</h1>
        <ul>
            <li>Cost: ${{ pur_req.cost }} x {{ pur_req.quantity }}{% if pur_req.shipping_cost %} + ${{pur_req.shipping_cost}}{% endif %} = ${{ pur_req.line_total }}</li>
            <li>Time Added: {{ pur_req.timestamp }}</li>
            <li>Requester: {{ pur_req.author.username }}</li>
            <li id="link"><a href="{{ pur_req.link }}">{{ pur_req.link }}</a></li>
        </ul>
        {% if pur_req.notes %}
        <div id="notes-div">
            <div class="accordion">
                <hr>
                <button id="acc-button">Notes <i id="arrow" class="fas fa-angle-down"></i></button>
            </div>
            <span id="note-span" style="display: none;">{{ pur_req.notes }}</span>
        </div>
        {% endif %}

        {% if pur_req.approved is not True %}
        <form id="approval-states-container" class="tab-content" method="post"
              action="{% url 'purchaseRequests:detail' pur_req.id %}">
            {% csrf_token %}
            <table id="approval-states-table">
                <tr>
                    <td id="td-approved" class="{{ state.2 }} {{ selectable }}">
                        <button class="approval-button" type="submit" name="app-but"
                                form="approval-states-container" {{ disable_buttons }}>
                            <i class="fas fa-check"></i>
                        </button>
                    </td>
                    <td id="td-undecided" class="{{ state.1 }} {{ selectable }}">
                        <button class="approval-button" type="submit" name="und-but"
                                form="approval-states-container" {{ disable_buttons }}>
                            <i class="fas fa-question"></i>
                        </button>
                    </td>
                    <td id="td-denied" class="{{ state.0 }} {{ selectable }}">
                        <button class="approval-button" type="submit" name="den-but"
                                form="approval-states-container" {{ disable_buttons }}>
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
        {% elif pur_req.approved and pur_req.ordered is False %}
        <form id="order-form" class="tab-content" method="post" action="{% url 'purchaseRequests:detail' pur_req.id %}">
            {% csrf_token %}
            <div id="ord-inp-div">
                <label for="shipping-inp">Shipping cost:</label>
                <div class="input-icon">
                    <input id="shipping-inp" type="number" name="shipping" min="0" max="3654" step="0.01"
                           placeholder="0.00">
                    <i>$</i>
                </div>
            </div>
            <button id="purchase-sub" type="submit">
                <span>Purchase&ensp;</span>
                <svg class="icon">
                    <use xlink:href="#ordered-icon"></use>
                </svg>
            </button>
        </form>
        {% elif pur_req.ordered and pur_req.delivered is False %}
        <form id="delivery-form" class="tab-content" method="post" action=""></form>
        {% else %}
        <div id="delivered-message" class="tab-content">
            <h1>Delivered&ensp;</h1>
            <svg>
                <use xlink:href="#delivered-icon"></use>
            </svg>
        </div>
        {% endif %}

        <div id="tabs-div">
            <table>
                <tr>
                    <td id="app-tab" class="tab {% if pur_req.approved %}completed-tab
                    {% elif pur_req.approved == False %}denied-tab {% else %}cur-tab {% endif %}">
                        {% if pur_req.approved %}Approved <i class="fas fa-check"></i>
                        {% elif pur_req.approved == False %}Denied <i class="fas fa-times"></i>
                        {% else %}Awaiting approval
                        {% endif %}
                    </td>
                    <td id="ord-tab" class="tab {% if pur_req.ordered %}completed-tab{% endif %}
                    {% if pur_req.approved and pur_req.ordered is not True %}cur-tab {% endif %}">
                        {% if pur_req.ordered %}Purchased <i class="fas fa-check"></i>
                        {% elif pur_req.approved and pur_req.ordered is not True %} Awaiting purchase
                        {% else %}Purchase
                        {% endif %}
                    </td>
                    <td id="del-tab" class="tab {% if pur_req.delivered %}completed-tab{% endif %}
                    {% if pur_req.ordered and pur_req.delivered is not True %}cur-tab {% endif %}">
                        {% if pur_req.delivered %}Delivered <i class="fas fa-check"></i>
                        {% elif pur_req.ordered and pur_req.delivered is not True %}Awaiting delivery
                        {% else %}Delivery{% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}