{% extends './base.html' %}
{% load staticfiles %}


{% block title %}Purchase Request for {{ pur_req.item }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'purchaseRequests/css/detail.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div id="detail-div">

        {% if pur_req.author == user or user.is_superuser %}
        <a id="edit-button" href="{% url 'edit' pur_req.id %}">Edit</a>
        {% endif %}

        <h1 id="item-title">{{ pur_req.item }}</h1>
        <ul>
            <li>Cost: ${{ pur_req.cost }} x {{ pur_req.quantity }} = ${{ pur_req.line_total }}</li>
            <li>Time Added: {{ pur_req.timestamp }}</li>
            <li>Requester: {{ pur_req.author.username }}</li>
            <li><a href="{{ pur_req.link }}">{{ pur_req.link }}</a></li>
        </ul>
        <div id="approval-states-container">
            <table id="approval-states-table">
                <tr>
                    <td class="{{ unappr_class }}">
                        <i class="fas fa-times"></i>
                    </td>
                    <td class="{{ undec_class }}">
                        <i class="fas fa-question"></i>
                    </td>
                    <td class="{{ appr_class }}">
                        <i class="fas fa-check"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}