{% extends './base.html' %}
{% load static %}


{% block title %}Team 3654 Purchase Requests{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'purchaseRequests/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'purchaseRequests/css/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'purchaseRequests/css/nav_bar.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
    <div id="content">
        <h1>Purchase Requests for Team 3654</h1>
        <div id="filter-bar">
            <form method="get" action="{% url 'purchaseRequests:list' %}">
                <div class="input-icon filter date-input">
                    <input type="text" name="start" class="datepicker" id="startdate" value="{{ filters.start }}">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="input-icon filter date-input">
                    <input type="text" name="end" class="datepicker"  id="enddate" value="{{ filters.end }}">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <input type="text" name="q" placeholder="Search" value="{{ filters.q }}" id="search-bar" class="filter">
                <input type="submit" value="Apply filters" id="submit-filter" class="filter">
            </form>
            <script type="text/javascript">
                $("#startdate").daterangepicker({
                    singleDatePicker: true,
                    maxDate: "{% now 'm/d/Y' %}",

                    {% if submitted_filters.start %}
                    startDate: "{{ submitted_filters.start }}",
                    endDate: "{{ submitted_filters.start }}",
                    {% else %}
                    startDate: "{% now 'm/d/Y' %}",
                    endDate: "{% now 'm/d/Y' %}",
                    {% endif %}

                    autoUpdateInput: false,
                    opens: "center",
                    locale: {
                        format: "MM/DD/YYYY",
                    },
                }, function(start, end, label){
                    var ed = $("#enddate").data('daterangepicker');
                    ed.minDate = start;
                    ed.updateView();
                    ed.updateCalendars();

                    $("#startdate").val(start.format('MM/DD/YYYY'));
                });
                $("#enddate").daterangepicker({
                    singleDatePicker: true,
                    maxDate: "{% now 'm/d/Y' %}",

                    {% if submitted_filters.end %}
                    startDate: "{{ submitted_filters.end }}",
                    endDate: "{{ submitted_filters.end }}",
                    {% else %}
                    startDate: "{% now 'm/d/Y' %}",
                    endDate: "{% now 'm/d/Y' %}",
                    {% endif %}

                    autoUpdateInput: false,
                    opens: "center",
                    locale: {
                        format: "MM/DD/YYYY",
                    },
                }, function(start, end, label){
                    var sd = $("#startdate").data('daterangepicker');
                    sd.maxDate = start;
                    sd.updateView();
                    sd.updateCalendars();

                    $("#enddate").val(start.format('MM/DD/YYYY'));
                });
            </script>

            <a id="export" href="{% url 'purchaseRequests:export' %}">Export</a>
        </div>
        <table id="reqlist">
            <thead>
                <tr>
                    <th class="date" style="background-color:{{ theme_color }};">Date</th>
                    <th class="item" style="background-color:{{ theme_color }};">Item</th>
                    <th class="qty" style="background-color:{{ theme_color }};">Quantity</th>
                    <th class="tcost" style="background-color:{{ theme_color }};">Total Cost</th>
                    <th class="link" style="background-color:{{ theme_color }};">Link</th>
                    <th class="approved" style="background-color:{{ theme_color }};">Approved?</th>
                </tr>
            </thead>
            <tbody>
                {% for pur_req in pur_req_list %}
                <tr onclick="location.href = '{% url 'purchaseRequests:detail' pur_req.id %}';">
                    <td class="date">{{ pur_req.timestamp|date:'n/d/y' }}</td>
                    <td class="item">{{ pur_req.item }}</td>
                    <td class="qty">{{ pur_req.quantity }}</td>
                    <td class="tcost">${{ pur_req.line_total }}</td>
                    <td class="link">
                        <a href="{{ pur_req.link }}">{{ pur_req.link }}</a>
                    </td>
                    <td class="approved">
                        {% if pur_req.approved %}
                        <i class="fas fa-check"></i>
                        {% elif pur_req.approved == False %}
                        <i class="fas fa-times"></i>
                        {% else %}
                        <i class="fas fa-question"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}