{% extends './base.html' %}
{% load staticfiles %}

{% block title %}New Purchase Request{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'purchaseRequests/css/new_request.css' %}">
{% endblock %}

{% block content %}
    <div id="content">
        <h1 id="header">New Purchase Request</h1>
        <form id="new-item-form" method="post" action="{% url 'purchaseRequests:new' %}">
            {% csrf_token %}
            <div class="form-row">
                <label for="item-inp">Item:</label>
                <input id="item-inp" type="text" name="item" maxlength="75" required autofocus>
            </div>
            <div class="form-row two-input-row">
                <div id="id-cost-div" class="two-input-row-item">
                    <label for="cost-inp">Cost:</label>
                    <div class="input-icon">
                        <input id="cost-inp" type="number" name="cost" min="0" max="10000" step="0.01"
                               placeholder="0.00" required>
                        <i>$</i>
                    </div>
                </div>

                <div id="id-qty-div" class="two-input-row-item">
                    <label for="qty-inp">Quantity:</label>
                    <input id="qty-inp" type="number" name="quantity" min="1" max="3654" value="1" required>
                </div>
            </div>
            <div class="form-row">
                <label for="url-inp">Link:</label>
                <input id="url-inp" type="url" name="link" maxlength="2000" required>
            </div>
            <div class="submit-row form-row">
                <input type="submit" value="Submit" style="background-color:{{ theme_color }};">
            </div>
        </form>
    </div>
{% endblock %}