{% extends './base.html' %}
{% load staticfiles %}


{% block title %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'purchaseRequests/css/summary.css' %}">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}
    <div id="content">
        <form id="ts-form" method="get" action="{% url 'purchaseRequests:summary' %}" style="display: none;"></form>
        <div id="title">
            <h1>Summary for </h1>
            <select id="timespan" name="timespan" form="ts-form" onchange="this.form.submit()">
                <option value="day" {% if timespan == "day" %}selected{% endif %}>Today</option>
                <option value="week" {% if timespan == "week" %}selected{% endif %}>This week</option>
                <option value="month" {% if timespan == "month" %}selected{% endif %}>This month</option>
                <option value="year" {% if timespan == "year" %}selected{% endif %}>This year</option>
                <option value="all" {% if timespan == "all" %}selected{% endif %}>All time</option>
            </select>
        </div>
        <div id="chart-div">
            <canvas id="chart"></canvas>
            <script type="text/javascript">{% include './summary_chart.js' %}</script>
        </div>
        <div id="summary">
            <div id="team-summary" class="summary">
                <h2>The Team</h2>
            </div>
            <div id="your-summary" class="summary">
                <h2>You</h2>
            </div>
        </div>
    </div>
{% endblock %}
